name: Django CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.10.0, 3.11, 3.12]

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Set-up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Dependencies
      run: |
        python3 -m pip install --upgrade pip
        pip3 install -r ./requirements.txt

    - name: Run Tests
      run: |
        python3 ./manage.py test
